In [1]:
people = {
    "first": ["Onkar",'Yash','Shritej'],
    "Second": ["Galande",'Bangude','Kumbhar'],
    "Email": ["galandeonkar2001@gmail.com",'bangudeyash@gmail.com','kumbharshritya@gmail.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

     first   Second                       Email
0    Onkar  Galande  galandeonkar2001@gmail.com
1     Yash  Bangude       bangudeyash@gmail.com
2  Shritej  Kumbhar    kumbharshritya@gmail.com

In [6]:
df.set_index('Email')

                              first   Second
Email
galandeonkar2001@gmail.com    Onkar  Galande
bangudeyash@gmail.com          Yash  Bangude
kumbharshritya@gmail.com    Shritej  Kumbhar

In [7]:
df

     first   Second                       Email
0    Onkar  Galande  galandeonkar2001@gmail.com
1     Yash  Bangude       bangudeyash@gmail.com
2  Shritej  Kumbhar    kumbharshritya@gmail.com

In [8]:
df.set_index('Email', inplace=True)

In [9]:
df

                              first   Second
Email
galandeonkar2001@gmail.com    Onkar  Galande
bangudeyash@gmail.com          Yash  Bangude
kumbharshritya@gmail.com    Shritej  Kumbhar

In [10]:
df.index

Index(['galandeonkar2001@gmail.com', 'bangudeyash@gmail.com',
       'kumbharshritya@gmail.com'],
      dtype='object', name='Email')

In [11]:
df.loc['bangudeyash@gmail.com']

first        Yash
Second    Bangude
Name: bangudeyash@gmail.com, dtype: object

In [12]:
df.loc['bangudeyash@gmail.com', 'Second']

'Bangude'

In [13]:
df.iloc[0]

first       Onkar
Second    Galande
Name: galandeonkar2001@gmail.com, dtype: object

In [14]:
df.reset_index(inplace=True)

In [15]:
df

                        Email    first   Second
0  galandeonkar2001@gmail.com    Onkar  Galande
1       bangudeyash@gmail.com     Yash  Bangude
2    kumbharshritya@gmail.com  Shritej  Kumbhar